@import 'colours';

$default-font: -apple-system, BlinkMacSystemFont, sans-serif;
$bold: 600;

body {
  background-color: $white;
  font-family: $default-font;
  margin: 0;
  padding: 0;
}

canvas {
  width: 100%;
  height: 100%;
}

.song-circle-text {
  position: absolute;
  color: $white;
  font-weight: $bold;
}

.bottom-branch-nav {
  max-width: 64px * 12;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;

  .modal-title {
    font-size: 24px;
    font-weight: $bold;
    color: $text-black;
    font-family: $default-font;
  }

  .modal-header {
    .modal-title {
      padding-left: 8px;
    }

    .close {
      padding: 22px;
    }
  }

  .modal-footer {
    height: 75px;
    transition: height 0.25s ease, padding 0.25s ease;
    justify-content: center;


    &.modal-footer-collapsed {
      border: none;
      height: 0;
      padding: 0;
    }
  }

  .bottom-branch-nav-body {
    padding-top: 16px;
    padding-bottom: 16px;

    .horizontal-scrollbar {
      &.hidden, &.hidden .bars {
        height: 0;
        overflow-x: hidden;
      }

      .bars {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding-top: 10px;
        height: 64px + 46px; // Height of beat, plus extra room
        transition: opacity 0.25s ease, height 0.5s ease;

        scrollbar-width: none;
        &::-webkit-scrollbar {
          width: 0px;
          background: transparent;
        }

        &.selected {
          .bar {
            opacity: 0.5;

            &.selected {
              opacity: 1;
              margin-left: 16px;

              .beat {
                opacity: 0.5;
                margin-left: 2px;
                margin-right: 2px;

                &:first-child {
                  margin-left: 0;
                }

                &:last-child {
                  margin-right: 0;
                }

                &.selected {
                  opacity: 1;
                  bottom: 10px;
                }
              }
            }
          }
        }

        .bar {
          display: inherit;
          margin-left: 16px + 16px; // Negative -16px margin-left
          margin-right: 16px;

          .beat {
            position: relative;
            width: 64px;
            height: 64px;
            flex: 0 0 auto;
            margin-left: -16px;
            cursor: pointer;
            bottom: 0;
            transition: bottom 0.25s ease, margin 0.25s ease;

            // Animate a move upwards when hovering
            &:hover {
              bottom: 10px;
            }

            &:first-child {
              .beat-order-container > span {
                color: $text-black;
              }
            }

            .circle {
              display: inline-block;
              border-radius: 50%;

              &.circle-hollow {
                width: 100%;
                height: 100%;
                border: 5px solid $dark-black;
                background-color: $white;
              }

              &.circle-solid {
                background-color: $dark-black;
                position: absolute;
                margin: auto;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                &.circle-light-purple { background-color: $light-purple; }
                &.circle-dark-purple  { background-color: $dark-purple;  }
                &.circle-light-blue   { background-color: $light-blue;   }
                &.circle-dark-blue    { background-color: $dark-blue;    }
                &.circle-light-green  { background-color: $light-green;  }
                &.circle-dark-green   { background-color: $dark-green;   }
                &.circle-light-yellow { background-color: $light-yellow; }
                &.circle-dark-yellow  { background-color: $dark-yellow;  }
                &.circle-light-orange { background-color: $light-orange; }
                &.circle-dark-orange  { background-color: $dark-orange;  }
                &.circle-light-red    { background-color: $light-red;    }
                &.circle-dark-red     { background-color: $dark-red;     }

                &.circle-xs { width: 22px; height: 22px; }
                &.circle-sm { width: 28px; height: 28px; }
                &.circle-md { width: 34px; height: 34px; }
                &.circle-lg { width: 42px; height: 42px; }
                &.circle-xl { width: 46px; height: 46px; }
              }
            }

            .beat-order-container {
              text-align: center;

              & > span {
                font-weight: $bold;
                font-size: 18px;
                color: $text-faded;
              }
            }
          }
        }
      }

      &.invert-scrollbar {
        transform: rotateX(180deg);

        .beat-order-container {
          transform: rotateX(180deg);
        }
      }
    }

    &.previewing {
      .horizontal-scrollbar {
        .bars {
          &.selected {
            .bar {
              opacity: 1;
              margin: 0;

              &.selected {
                .beat {
                  &.selected {
                    bottom: 42px;
                  }
                }
              }

              .beat {
                &, &:first-child, &:last-child {
                  margin: 0 8px;
                }

                &, &.selected {
                  opacity: 1;
                }

                &:not(.playing) {
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }
  }
}

.modal .modal-title-feedback {
  color: $text-faded;
  margin: 10px 0 0 12px;
  font-size: 18px;

  font-weight: 400;
}

.btn {
  font-weight: $bold;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid $dark-white;
  border-bottom: 3px solid $light-black !important;
  border-radius: 8px;

  &:hover {
    border-bottom: 2px solid $light-black !important;
  }

  &.start-fade, &.end-fade {
    transition: opacity 0.2s ease;
  }

  &.start-fade {
    height: 0;
    opacity: 0;
  }

  &.end-fade {
    opacity: 1;
  }

  &.btn-success {
    background-color: $dark-green;
    border-color: $dark-green;

    &:hover {
      background-color: $light-green;
      border-color: transparent;
    }
  }
}